/* START DESKTOP GLOBAL CLASSES */
@media screen and (min-width: 760px) {

  .standard-row-padding{
    padding: .1rem;
  }

  .fl-lft-desk{
    float: left;
  }

  .fl-rgt-desk{
    float: right;
  }

  .jc-lft-desk{
    justify-content: left;
  }

  .jc-rgt-desk{
    justify-content: right;
  }

  .jc-cen-desk{
    justify-content: center;
  }
  
  
}
/* END DESKTOP GLOBAL CLASSES */


/* START MOBILE GLOBAL CLASSES */
@media screen and (max-width: 760px) {
  

  .fl-lft-mobi{
    float: left;
  }

  .fl-rgt-mobi{
    float: right;
  }

  .jc-lft-mobi{
    justify-content: left;
  }

  .jc-rgt-mobi{
    justify-content: right;
  }

  .jc-cen-mobi{
    justify-content: center;
  }
  

 
}
/* END MOBILE GLOBAL CLASSES */


@media screen and (min-width: 641px) and (max-width: 840px) {

  .standard-row-padding{
    padding: .05rem;
  }

}

@media only screen and (max-width: 640px) {



  .standard-row-padding{
    padding: .025rem;
  }

  

}
